.card {
    margin: 0 auto;
    padding-bottom: 200px;
  
    .header {
      height: 200px;
  
      .avatar {
        width: 160px;
        height: 160px;
        position: relative;
        margin: 0 auto;
  
        .profile-pic {
          display: block;
          border-radius: 50%;
          position: absolute;
          bottom: calc(-1 * (80px + 4px));
          border: 8px solid #575853;
          background-color: #fff;
        }
      }
    }
  }

