<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <app-show-hide-password>
       <ion-input type="password" #password required></ion-input>
      </app-show-hide-password>  
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="login(email, password)" expand="block">Login</ion-button>
      <ion-button type="submit" (click)="registerLink()" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>