<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tablinks"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <div *ngIf="user != undefined">
      <form [formGroup]="form" >
        <ion-item lines="full">
          <ion-label position="floating">Old Password</ion-label>
          <app-show-hide-password>
          <ion-input formControlName="old_password" type="password" #password required></ion-input>
         </app-show-hide-password>
        </ion-item>
    
        <ion-item lines="full">
          <ion-label position="floating">New Password</ion-label>
          <app-show-hide-password>
            <ion-input formControlName="new_password" type="password"></ion-input>
          </app-show-hide-password>
          <div *ngIf="(errorCtr.new_password.dirty || errorCtr.new_password.touched) && errorCtr.new_password.errors" class="errors">
            <span *ngIf="errorCtr.new_password.errors?.required">Password is required</span>
            <span *ngIf="errorCtr.new_password.errors?.minlength">Password needs to be 6 characters</span>
          </div>
        </ion-item>
        <ion-button (click)="changePassword()" expand="block" [disabled]="form.invalid">Update Details</ion-button>
    
    </form>
  </div>
</ion-content>
