<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ schedule.product_name }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    
    <ion-text>
      <h1>{{schedule.product_name}}</h1>
      <h4>{{schedule.product_price}}</h4>
      <ion-datetime [value]="schedule.schedule_date" readonly="true" ></ion-datetime>
      <div *ngFor="let u of user">
        <h1>User Information</h1>  
        <img src="{{apiUrl2}}{{u.image}}" alt="{{user.image}}" class="profile-pic">
        <h4>{{u.email}}</h4>
        <h4>{{u.first_name}}</h4>
        <h4>{{u.last_name}}</h4>
      </div>
    </ion-text>
  
    <ion-button expand="block" color="secondary" (click)="houseSold()">House Sold/Rented</ion-button>
   


  </div>
</ion-content>