<ion-header>
  <ion-toolbar>
    <ion-title>Posted House</ion-title>
      <ion-button (click)="backButton()" fill="clear"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let p of products$|async" (click)="openDetailModal(p)">
    <img src="{{apiUrl}}{{p.imageUrl}}" />
    <ion-card-header>
      <ion-card-subtitle>{{p.price}}</ion-card-subtitle>
      <ion-card-subtitle>{{p.user_id}}</ion-card-subtitle>
      <ion-card-title>{{p.name}}</ion-card-title>
      <ion-card-subtitle>{{p.category}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{p.description}}</ion-card-content>
  </ion-card>

</ion-content>
