<ion-header>
  <ion-toolbar>
    <ion-title>Approved Schedule</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="tablinks"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let d of dates|async">
   <ion-card   (click)="openDetailModal(d)">
      <ion-card-header>
        <img src="{{apiUrl}}{{d.product_image}}" />
        <ion-card-subtitle>₱{{d.product_price}}</ion-card-subtitle>
        <ion-card-title>{{d.product_name}}</ion-card-title>
        <ion-card-subtitle>{{d.schedule_date}}</ion-card-subtitle>
        <!-- <ion-datetime [value]="d.schedule_date" readonly="true"></ion-datetime> -->
        </ion-card-header> 
    </ion-card>
  </div>
</ion-content>
