<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <ion-thumbnail>
            <img src="https://picsum.photos/200" alt="profile-pic" class="profile-pic">
          </ion-thumbnail>
          <!-- <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button> -->
          
        </div>
       
        <div class="card-body">
          <div class="user-meta ion-text-center">
            <h3 class="name">test username</h3>
            <h5 class="country">TeST</h5>
            <ion-chip color="primary">
              <ion-label>Test</ion-label>
            </ion-chip>
            <ion-chip color="success">
              <ion-label>Test</ion-label>
            </ion-chip>
            <ion-chip color="tertiary">
              <ion-label>Test</ion-label>
            </ion-chip>
            <ion-chip color="danger">
              <ion-label>Test</ion-label>
            </ion-chip>  
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
