<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <ion-avatar>
            <img src="https://picsum.photos/200" alt="profile-pic" class="profile-pic">
          </ion-avatar>
        </div>
        
        <div class="card-body" *ngIf="user">
          <div class="user-meta ion-text-center">
            <h3 class="name"> {{user.id}} </h3>
            <h3 class="name"> {{user.first_name}} </h3>
            <h3 class="name"> {{user.last_name}} </h3>
            <h5 class="country">TeST</h5>
            <ion-chip color="primary" (click)="editProfileLink()">
              <ion-icon name="pencil"></ion-icon>
              <ion-label>Edit Profile</ion-label>
            </ion-chip>
            <ion-chip color="tertiary">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>Post Available House</ion-label>
            </ion-chip>
            <ion-chip color="success">
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Visit Schedules</ion-label>
            </ion-chip>
            <ion-chip color="danger" (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-chip>
          </div>
        </div>
      </div>
    </div>
  </div>

  

</ion-content>
